<nav class="navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="<%= root_url %>">
    <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    SupplierAdvisor
  </a>
</nav>
